.quantity-btn{
  border: none;
  background-color: #4ee021;
  border-radius: 5px;
}
.quantity-btn:active{
 opacity: -0.2;
}
#card-w{
  box-shadow:   0 .125rem .25rem  rgb(185, 15, 109); 
}
#card-w:hover{
  box-shadow:  0 .2rem 0.500rem  rgb(17, 17, 16);
}
.card{
  background-color: rgba(233, 226, 226, 0.404);
}